
create dictonary.py
create localization.py
create dictionary.py
create dictionary2.py
create dictionary3.py
ru_RU/list.txt
ru_RU/create list.bat
Original/list.txt
Original/create list.bat
en_US/list.txt
en_US/create list.bat
cn_CN/list.txt
cn_CN/create list.bat
test_test/
test/
test.py
old/
zh_ZH/list.txt
zh_ZH/create list.bat
vi_dictionary/
Original/list2.txt
ru_dictionary/dict_list.bat
en_dictionary/dict_list.bat
en_dictionary/dict_list.txt
ru_dictionary/dict_list.txt
ru_RU/list.txt
ru_RU/create list.bat